#####################################################################
#	Fan Control
#####################################################################

# [fan_generic exhaust_fan]
[heater_fan hotend_fan]
pin: FAN0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[fan]
pin: FAN1
max_power: 1.0
cycle_time: 0.01
kick_start_time: 0.5
off_below: 0.10

[controller_fan controller_fan]
pin: E1_HEATER
kick_start_time: 0.5
heater: heater_bed
fan_speed: 0.2

[fan_generic exhaust_fan]
# [heater_fan hotend_fan]
pin: FAN2
max_power: 1.0
# shutdown_speed: 0.0
kick_start_time: 5.0
# heater: extruder
# heater_temp: 50.0

[fan_generic nevermore_fan]
pin: E2_HEATER
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
