#####################################################################
#   Auto Z Calibration
#   https://github.com/protoloft/klipper_z_calibration
#####################################################################
[z_calibration]
#   A X, Y coordinate (e.g. 100,100) of the nozzle, clicking on the z endstop.
nozzle_xy_position:   202.5,305
#   A X, Y coordinate (e.g. 100,100) of the probe's switch body, clicking on the z endstop.
switch_xy_offsets:    -6,-20
# bed_xy_position:      150,150
switch_offset:        0.45
start_gcode:          ATTACH_PROBE
#before_switch_gcode: <macro name for attaching the probe AFTER probing the nozzle>
end_gcode:            DOCK_PROBE


# probe_nozzle_x: 202.5
# probe_nozzle_y: 305
# probe_switch_x: 196.5
# probe_switch_y: 285
# switch_offset: 0.45
; switch_offset: 0.5
; switch_offset: 0.49
# max_deviation: 4.0
; samples: probe:samples
; samples_tolerance: probe:samples_tolerance
; samples_tolerance_retries: probe:samples_tolerance_retries
; samples_result: probe:samples_result
; clearance: 2 * probe:z_offset
; position_min: stepper_z:position_min
# speed: 50
; lift_speed: probe:lift_speed
; probing_speed: stepper_z:homing_speed
; probing_second_speed: stepper_z:second_homing_speed
; probing_retract_dist: stepper_z:homing_retract_dist
# probing_first_fast: True
# start_gcode: ATTACH_PROBE
; before_switch_gcode: ATTACH_PROBE
; end_gcode: DETACH_PROBE