[gcode_macro PARK_CENTER]
description: Park head middle of printer
gcode:
    ##### Get user defines #####
    {% set park_x = printer['gcode_macro _USER_VARIABLE'].center_x %}
    {% set park_y = printer['gcode_macro _USER_VARIABLE'].center_y %}
    {% set park_z = printer['gcode_macro _USER_VARIABLE'].center_z %}
    ##### end of definitions #####
    SAVE_GCODE_STATE NAME=STATE_PARK_CENTER
    _CG28 ; Home if not already homed
    G90   ; absolute positioning
    G0 X{park_x} Y{park_y} Z{park_z} F18000
    RESTORE_GCODE_STATE NAME=STATE_PARK_CENTER